services:
  # cipo_bot:
  #   #   # NO BUILD CONTAINER - RUN LOCAL
  #   image: almasnurbayev/go_cipo_bot:latest
  #   #   image: golang:1.24.3-alpine3.20
  #   working_dir: /app
  #   environment:
  #     - TZ=Asia/Almaty
  #     - ENV=${ENV}
  #     - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@cipo_bot_postgres:5432/${POSTGRES_DB}?sslmode=disable
  #     - BOT_TOKEN=${BOT_TOKEN}
  #     - BOT_TIMEOUT=${BOT_TIMEOUT}
  #     - HTTP_PORT=${HTTP_PORT}
  #     - POSTGRES_TIMEOUT=${POSTGRES_TIMEOUT}
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #     - POSTGRES_DB=${POSTGRES_DB}
  #     - POSTGRES_PORT=${POSTGRES_PORT}
  #     - POSTGRES_HOST=${POSTGRES_HOST}
  #     - SECRET_KEY=${SECRET_KEY}
  #     - GOOGLE_API_KEY=${GOOGLE_API_KEY}
  #     - CIPO_PRODUCTS_URL=${CIPO_PRODUCTS_URL}
  #     - CIPO_IMAGES_URL=${CIPO_IMAGES_URL}
  #     - CIPO_QNT_URL=${CIPO_QNT_URL}
  #     - KOFD_PASSAUTH_URL=${KOFD_PASSAUTH_URL}
  #     - KOFD_OPERATIONS_URL=${KOFD_OPERATIONS_URL}
  #     - KAFKA_PORT=${KAFKA_PORT}
  #     - KAFKA_SERVICE_NAME=${KAFKA_SERVICE_NAME}
  #     - NATS_NAME=${NATS_NAME}
  #     - NATS_PORT=${NATS_PORT}
  #     - NATS_MONITORING_PORT=${NATS_MONITORING_PORT}
  #     - NATS_STREAM_NAME=${NATS_STREAM_NAME}
  #     - LOG_ERROR_PATH=${LOG_ERROR_PATH}
  #   volumes:
  #     - ./_volume_assets:/app/_volume_assets
  #     - /etc/localtime:/etc/localtime:ro
  #   healthcheck:
  #     test: ['CMD', 'curl', '-f', 'http://localhost:${HTTP_PORT}/healthz']
  #     interval: 10s
  #     timeout: 5s
  #     retries: 3
  #   restart: unless-stopped
  #   depends_on:
  #     - cipo_bot_postgres
  #   networks:
  #     go_cipo_bot:
  #       aliases:
  #         - go_cipo_bot.local
  #     default:

  postgres:
    image: postgres:18.1-alpine3.23
    restart: always
    environment:
      - TZ="Asia/Qyzylorda"
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PORT=${POSTGRES_PORT}
    ports:
      # - '${HTTP_PORT}:${HTTP_PORT}'
      - "${POSTGRES_PORT}:5432"
    command: ['postgres', '-c', 'config_file=/etc/postgresql/postgresql.conf']
    volumes:
      - ./pg_conf/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./_volume_storage:/var/lib/postgresql/data

  redis:
    image: redis:8.4.0-alpine
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./_volume_redis:/data
    restart: unless-stopped

  #  networks:
  # cipo_bot_nats:
  #   image: nats:2.11.7-alpine3.22
  #   #container_name: ${NATS_NAME}
  #   ports:
  #     - ${NATS_PORT}:${NATS_PORT} # только для запуска бота снаружи
  #     - ${NATS_MONITORING_PORT}:${NATS_MONITORING_PORT} # HTTP мониторинг
  #     # - "6222:6222"   # кластеринг
  #   command: >
  #     -js
  #     -m ${NATS_MONITORING_PORT}
  #     --server_name ${NATS_NAME}
  #     --store_dir /data/jetstream
  #     --config /etc/nats/nats-server.conf
  #   volumes:
  #     - ./_volume_nats:/data/jetstream
  #     - ./nats_conf/nats-server.conf:/etc/nats/nats-server.conf

  # kafka:
  #   image: bitnami/kafka:4.0.0
  #   container_name: kafka
  #   hostname: kafka
  #   ports:
  #     - '9094:9094' # only for access from outside
  #   environment:
  #     - KAFKA_CFG_NODE_ID=0
  #     - KAFKA_CFG_PROCESS_ROLES=controller,broker
  #     - KAFKA_CFG_LISTENERS=INTERNAL://:9092,EXTERNAL://:9094,CONTROLLER://:9093
  #     - KAFKA_CFG_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:9094
  #     - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
  #     - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL
  #     - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
  #     - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
  #     - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
  #     - KAFKA_CFG_LOG_RETENTION_DAYS=100
  #     - KAFKA_CFG_LOG_RETENTION_BYTES=104857600
  #     - ALLOW_PLAINTEXT_LISTENER=yes
  #   volumes:
  #     - ./volume_kafka:/bitnami/kafka

  # kafka-ui:
  #   image: provectuslabs/kafka-ui:v0.7.2
  #   container_name: kafka-ui
  #   # networks:
  #   #   - kafka-net
  #   ports:
  #     - '8080:8080' # Только Kafka UI доступна снаружи
  #   environment:
  #     KAFKA_CLUSTERS_0_NAME: kafka-local
  #     KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
  #     DYNAMIC_CONFIG_ENABLED: 'true'
  #   depends_on:
  #     - kafka
# networks:
#   go_cipo_bot:
#     name: 'go_cipo_bot'
#   default:
