basePath: /api
definitions:
  dto.AuthRegisterRequest:
    properties:
      email:
        example: test@mail.com
        type: string
      name:
        type: string
      password:
        minLength: 8
        type: string
      phone_number:
        example: "+77012345678"
        type: string
    required:
    - name
    - password
    type: object
  dto.AuthRegisterResponse:
    properties:
      id:
        type: integer
      name:
        type: string
      role_name:
        type: string
    type: object
host: localhost:3199
info:
  contact: {}
  title: github.com/AlmasNurbayev/go_fiber_boilerplate API documentation
  version: 1.0.0
paths:
  /auth/register:
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.AuthRegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.AuthRegisterResponse'
        "400":
          description: 'Key: ''AuthRegisterRequest.Password'' Error:Field validation
            for ''Password'' failed on the ''min'' tag'
          schema:
            type: string
        "409":
          description: 'значение для поля уже существует (ограничение уникальности:
            users_XXXX_key)'
          schema:
            type: string
      summary: Register as user
      tags:
      - Auth
swagger: "2.0"
