basePath: /api
definitions:
  dto.AuthHelloResponse:
    properties:
      email:
        type: string
      id:
        type: integer
      name:
        type: string
      phone_number:
        type: string
      role_name:
        type: string
    type: object
  dto.AuthLoginRequest:
    properties:
      email:
        example: test@mail.com
        type: string
      password:
        minLength: 8
        type: string
      phone_number:
        example: "+77012345678"
        type: string
    required:
    - password
    type: object
  dto.AuthLoginResponse:
    properties:
      access_token:
        type: string
      id:
        type: integer
      name:
        type: string
      role_name:
        type: string
    type: object
  dto.AuthRegisterRequest:
    properties:
      email:
        example: test@mail.com
        type: string
      name:
        type: string
      password:
        minLength: 8
        type: string
      phone_number:
        example: "+77012345678"
        type: string
    required:
    - name
    - password
    type: object
  dto.AuthRegisterResponse:
    properties:
      id:
        type: integer
      name:
        type: string
      role_name:
        type: string
    type: object
host: localhost:3199
info:
  contact: {}
  title: github.com/AlmasNurbayev/go_fiber_boilerplate API documentation
  version: 1.0.0
paths:
  /auth/hello:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.AuthHelloResponse'
        "401":
          description: authentication failed
          schema:
            type: string
      security:
      - BearerAuth: []
      summary: Check auth token
      tags:
      - Auth
  /auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.AuthLoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.AuthLoginResponse'
        "401":
          description: authentication failed
          schema:
            type: string
      summary: Login as user
      tags:
      - Auth
  /auth/register:
    post:
      consumes:
      - application/json
      parameters:
      - description: Request body
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.AuthRegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.AuthRegisterResponse'
        "400":
          description: 'Key: ''AuthRegisterRequest.Password'' Error:Field validation
            for ''Password'' failed on the ''min'' tag'
          schema:
            type: string
        "409":
          description: 'значение для поля уже существует (ограничение уникальности:
            users_XXXX_key)'
          schema:
            type: string
      summary: Register as user
      tags:
      - Auth
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
